/*------   Colors   ------*/
/*------   Typography   ------*/
/*---Regular styles---*/
.Regular-H1 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.Regular-H2 {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}

.Regular-H3 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.Regular-H4 {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.Regular-Title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.Regular-SubTitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.Regular-Body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.Regular-Body-sub-text-1 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.Regular-Body-sub-text-2 {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.Regular-Tag-1 {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
}

.Regular-Tag-2 {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}

/*---Medium styles---*/
.Medium-H1 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.Medium-H2 {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}

.Medium-H3 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.Medium-H4 {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.Medium-Title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.Medium-SubTitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.Medium-Body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.Medium-Body-sub-text-1 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.Medium-Body-sub-text-2 {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.Medium-Tag-1 {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
}

.Medium-Tag-2 {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}

.Landing {
  z-index: 100;
  font-family: sans-serif;
  background: #ffffff;
  color: #292929;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.IconTabs {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0%;
  padding: 0%;
}

.IconTabs p {
  margin-bottom: 0%;
}

.react-tabs {
  display: flex;
  height: 100%;
  color: #292929;
  background: #ffffff;
  align-self: center;
}

.react-tabs__tab-list {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.12);
  padding: 0;
  color: #292929;
  background: #ffffff;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.react-tabs__tab {
  min-height: 50px;
  list-style: none;
  padding: 12px 6px;
  cursor: pointer;
  color: #292929;
  align-items: baseline;
}

.react-tabs__tab--selected {
  background: #dedde2;
  border-left: 4px solid #6159e4;
  color: #292929;
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
  margin: 10px 40px 10px 0px;
  padding-bottom: 4rem;
}

.react-tabs__tab-panel--selected {
  display: block;
  width: 100%;
}

.react-tabs__tab {
  padding-left: 24px;
  align-content: center;
}

.react-tabs__tab--selected {
  padding-left: 21px;
}

.panel-content-header {
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  margin: 20px 0px;
  padding: 0px;
}

.panel-content-header h4 {
  margin-right: auto;
  margin-bottom: 0%;
}

.panel-content-header .Ask-question-btn {
  padding: 6px 8px;
}

.TabList {
  display: flex;
  flex: 1;
}

.TabPanel {
  display: flex;
  flex: 4;
  margin-left: 2rem;
  overflow-y: scroll;
}

.Medium-Body-sub-text-2 {
  padding-bottom: 4vh;
}

/*---   scroll bar syles   ---*/
::-webkit-scrollbar {
  width: 8px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background-color: #f0eff4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #8f8f8f;
}

.TabPanel::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: rgb(211, 211, 211);
  scroll-behavior: smooth;
}

/*---   scroll bar syles ends here ---*/
/*------------------------- Responsive styles -------------------------*/
/*mobile */
@media screen and (max-width: 700px) {
  /*lower than width: 700px; */
  .react-tabs {
    display: flex;
    flex-direction: column;
  }
  /*.react-tabs__tab-list {
    display:none;
  }*/
  .TabList {
    max-height: 80px;
    overflow: hidden;
    scroll-behavior: smooth;
  }
  .react-tabs__tab-list {
    flex-direction: row;
    width: auto;
    height: 88px;
    -ms-overflow-style: none;
    padding-left: 16px;
    padding-right: 16px;
  }
  .react-tabs__tab-list::-webkit-scrollbar {
    display: none;
  }
  .TabPanel::-webkit-scrollbar {
    display: none;
  }
  .react-tabs__tab {
    max-height: 20px;
    min-width: 150px;
    align-self: center;
    justify-content: center;
    padding-left: 0%;
    border-radius: 6px;
    background-color: #f0eff4;
    margin: 1rem 8px 1rem 8px;
  }
  .react-tabs__tab-panel {
    margin-right: 10px;
  }
  .react-tabs__tab--selected {
    border: 0px;
    background-color: #d8d2f8;
    min-width: 150px;
  }
  .panel-content-header {
    margin-top: 0%;
    padding-left: 8px;
    padding-right: 8px;
  }
  .IconTabs {
    justify-content: center;
    margin-left: 0%;
  }
}
/* large screens */
@media screen and (min-width: 992px) {
  /*higher than width: 992px; */
}/*# sourceMappingURL=LandingPage.css.map */